.insight-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 15px;
  text-align: center;
  background: #000000d4;
}

.insight-box span {
  font-weight: bold;
  font-size: 2.5rem;
  /* color: black; */
}

.insight-box h1 {
  font-weight: bolder;
  color: white;
  font-size: 3.5rem;
}
.insight-box span {
  font-weight: bold;
}

/* arrows up and down */
.arrow-up {
  scale: 3.2;
  color: green;
  margin: 5px;
}
.arrow-down {
  scale: 3.4;
  color: rgb(167, 1, 1);
  margin: 5px;
}
