.top-income {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 10px;
  text-align: center;
}
.top-income h1 {
  color: green;
  margin: 6px;
}

.top-income span {
  font-weight: bold;
}
