body {
  background-image: url(../ilia-bronskiy-8-Foex-jjfQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.multistep-form {
  max-width: 400px;
  padding: 20px;
  margin: auto;
  backdrop-filter: blur(8px);
  margin-top: 10vh;
  box-shadow: 0 0 10px 2px rgb(180, 180, 180);
  border-radius: 10px;
}
.step {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.span {
  display: inline;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
}
.next {
  float: right;
}
button:hover {
  background-color: #0056b3;
}

h2 {
  margin-bottom: 10px;
}
